// Primary colors
$primary: #b96;
$primary-light: #d7c2a1;
$primary-dark: #937241;

// Secondary colors
$secondary: #98182b;
$secondary-light: #da223e;
$secondary-dark: #560e18;

:export {
	primary: $primary;
	primary-light: $primary-light;
	primary-dark: $primary-dark;
	secondary: $secondary;
	secondary-light: $secondary-light;
	secondary-dark: $secondary-dark;
}
