// Primary colors
$primary: #b96;
$primary-light: #d7c2a1;
$primary-dark: #937241;

// Secondary colors
$secondary: #98182b;
$secondary-light: #da223e;
$secondary-dark: #560e18;

// Background colors
$background: #f7f7f7;
$background-dark: #121212;

// Typography colors
$text: #000;
$text-light: #8e8e8e;
$text-dark: #fdfefd;

:export {
	primary: $primary;
	primary-light: $primary-light;
	primary-dark: $primary-dark;
	secondary: $secondary;
	secondary-light: $secondary-light;
	secondary-dark: $secondary-dark;
	background: $background;
	background-dark: $background-dark;
	text: $text;
	text-light: $text-light;
	text-dark: $text-dark;
}
